/* Autofill fix*/
.login-card input:-webkit-autofill,
.login-card input:-webkit-autofill:hover,
.login-card input:-webkit-autofill:focus,
.login-card input:-webkit-autofill:active {
  
  /* match your input background EXACTLY */
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;

  /* fix text */
  -webkit-text-fill-color: white !important;

  /* remove weird glow */
  filter: none !important;

  /* prevent flash */
  transition: background-color 9999s ease-in-out 0s;
}

/* BACKGROUND */
.login-page {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    background: linear-gradient(45deg, #0ea5e9, #6366f1, #22c55e);
    background-size: 400% 400%;
    position: relative;
    overflow: hidden;
}

.login-container {
    height: calc(100vh - 80px); /* subtract header height */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 💎 GLASS CARD */
.login-card {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border-radius: 16px;
  width: 320px;
  text-align: center;
  color: white;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

/* HEADINGS */
.login-card h2 {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 20px;
}

/* INPUTS */
.login-card input {
  width: 100%;
  box-sizing: border-box; 
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.3);
  color: white;
}

/* placeholder */
.login-card input::placeholder {
  color: #e0e7ff;
}

/* wrapper */
.password-field {
  position: relative;
  margin-bottom: 15px;
}

.password-field input {
  width: 100%;
  padding-right: 40px;
  margin-bottom: 0;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;   /* 🔥 true vertical center */
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  height: 100%;
}

.eye-icon:hover {
  opacity: 1;
}

/* BUTTON */
.login-submit {
  width: 100%;
  max-width: 150px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: white;
  color: #6366f1;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-submit:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* FOOTER */
.bottom-text {
  margin-top: 15px;
  font-size: 14px;
}

.bottom-text span {
  cursor: pointer;
  text-decoration: underline;
}

/* field error */
.field-error {
  color: #ffdede;
  font-size: 12px;
  text-align: left;
  margin: -10px 0 10px 5px;
}

/* global error */
.form-error {
  background: rgba(255, 0, 0, 0.15);
  color: #ffe4e4;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 12px;
  text-align: center;
}